body {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 300;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.menubar {
    background-color: #f4511e;
    z-index: 10;
    border: none;
}
.menubar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-brand img {
    position: relative;
    display: inline;
    height: 43px;
    top: -10px;
}
.span-header-for-middle {
    vertical-align: top;
    font-style: italic;
    font-family: sans-serif;
}
.my-nav-text-style {
    font-weight: 700;
}

.main {
    margin-top: 70px;
    margin-bottom:50px;
}
.title-col {}
.title-col > .number {
    font-size: 3em;
    font-weight: 700;
}
.title-col > .title {
    vertical-align: center;
    font-size: 1.5em;
    font-weight: 400;
}
.group-item:nth-child(2) {
    border-width: 0 2px;
    border-style: solid;
    border-color: #1ba0e2;
}
.input-inline {
    display: inline-block;
    padding: 0;
}
.input-inline > .control-label, .input-inline > .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
#inbound {
    visibility: hidden;
}
.slider-outer {
    padding: 0 4rem;
}
.slider-outer > .slider-horizontal {
    width: 100%;
}
.price-slider > .slider-horizontal {
    width: 100%;
}
.form-control {
    border-radius: 0;
}
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #ccc;
    color: #fff;
}
.btn {
    position: relative;
    border: none;
    text-transform: uppercase;
    outline: 0;
    z-index: 1;
}
.btn-search {
    padding: 10px 50px;
    font-weight: 400;
    font-size: 1.2em;
    border-radius: 50px;
}
.btn:hover {
    background-color: transparent;
    color: #5cb85c;
}
.btn::before, .btn::after  {
    content: '';
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    outline: 0;
}
.btn::before {
    border: 1px solid #5cb85c;
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
.btn:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.btn::after {
    background-color: #5cb85c;
}
.btn:hover::after {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}
.footer-my-style {
    position: fixed;
    bottom: 0;
    height:auto;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    padding:3px;
}
.footer-my-style p {
    margin-bottom: 0;
}
#result {
    margin-top: 20px;
    background-color: #3e3535;
    padding: 15px 0 15px 0;
    margin-bottom: 35px;
    min-height: 100px;
    border-radius: 0.375rem;
}
#result .rs-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}
.rs-ul li {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
}
.ticket-list-table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.tr-tik-header {
    background-color: white;
}
.ticket-list-table th,td {
    text-align: center;
}
.ticket-list-table th,td {
    padding-left: 10px;
    padding-right: 10px;
}
.tr-tik {
    margin-bottom: 3px;
    margin-top: 3px;
}
#div-return {
    visibility: hidden;
}
/* This under is belong to about.html and contact.html */
.main .row .brand-name {
    color:#ff7800;
    font-weight:bold;
    font-size:30px;
}
.main .row ol > li {
    font-weight:bold;
    font-style:italic;
}
.table-result{
    width: 100%;
    font-weight: bold;
}
.a-result-flight td{
    border: 1px grey solid;
}
.table-result-layout{
    width: 100%;
}
.result-detail{
    background-color: #b1fba8;
}
.result-detail td{
    padding-left: 2px;
    padding-right: 2px;
}
.result-detail ul li{
    list-style-type: none;
}
select#from, select#to {
    background-color: #d5f3d4;
    color: black;
}
.color-green{
    color: #e81919;
}
.first-flight-header{
    text-align: left;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    background-color: #f1d15c;
    margin-top: 2px;
    margin-bottom: 2px;
}
.a-result-flight{
    background-color: #ffffff;
}
.first-content-time, .first-content-carrier, .first-content-ticket{
    border: 0;
    background-color: whitesmoke;
}
.first-content-time, .first-content-carrier{
    border-right: 1px dotted gray;
}
.result-detail-first-content{
    margin-bottom: 2px;
}
#outward-list-result-header {
    margin-bottom: 10px;
    padding-left: 15px;
}
.li-ticket-result-detail {
    padding-top: 5px;
    padding-bottom: 5px;
}
.li-ticket-result-detail:nth-of-type(n+2) {
    border-top: 1px solid;
}
.div-result-ticket-type {
    text-align: left;
    padding-left: 25px;
}
.div-result-ticket-btn-choose {
    padding-right: 25px;
    text-align: right;
}
.result-time-left {
    text-align: right;
    width: 40%;
    float: left;
}
.result-time-right {
    text-align: left;
    width: 40%;
    float: left;
}
.result-time-arrow {
    text-align: center;
    width: 20%;
    float: left;
}
.span-color-green {
    color: #00bd68;
    font-weight: 300;
}
.span-color-red {
    color: #ff5452;
    font-weight: 300;
}
.span-color-white {
    color: #ffffff;
    font-weight: bolder;
}
.int-input {
    color: blue !important;
}
.color-sec-orange {
    background-color: #ffd16e;
}
.top-bot-border:nth-of-type(n+1) {
    border-top: 1px dotted gray;
}