<!DOCTYPE html>
{% load get2_extras %}
{% load staticfiles %}
<html lang="en">
<head>
    <title>Domestic flight</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'search/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'search/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/default.date.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/chosen.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'search/fonts.css' %}">
    <script src="{% static 'search/js/jquery-1.12.4.js' %}"></script>
    <script src="{% static 'search/js/bootstrap.min.js' %}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default navbar-fixed-top menubar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="fa fa-bars fa-2x"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="{% static 'search/images/can.png' %}" alt="logo hình lá cần">
                    <span class="span-header-for-middle">Get Hi Travel</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right text-uppercase my-nav-text-style">
                    <li><a id="a-domestic-page" title="Các chuyến bay nội địa" href="{% url 'search:domestic' %}">Domestic</a>
                    </li>
                    <li><a id="a-internal-page" href="{% url 'search:insert_db_ticket' %}">Insert</a></li>
                    <li><a id="a-ud-routes" title="Update the routes"
                           href="{% url 'search:update_routes' %}">Upgrade</a></li>
                    <li><a id="a-del-page" title="Delete all ticket" href="{% url 'search:delete' %}">Delete</a></li>
                    <li><a id="a-about-page" title="Trang About" href="{% url 'search:about' %}">About</a></li>
                    <li><a id="a-contact-page" title="Trang Contact" href="{% url 'search:contact' %}">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container main">
    <!-- form se duoc gui thong qua ajax -->
    <form id="myForm" method="get" action="">
        <div class="row">
            <div class="group-item col-xs-12 col-sm-4">
                <div class="title-col col-xs-12">
                    <span class="number">1</span>
                    <span class="title">Hành trình bay</span>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="from">Điểm khởi hành:</label>
                    <select name="departure" id="from" data-placeholder="-- Vui lòng chọn địa điểm --" class="form-control chosen-select" required>
                        <option class="pickFlightStart"></option>
                        <option class="pickFlightStart" value="BMV"> Buôn Ma Thuột (BMV)</option>
                        <option class="pickFlightStart" value="DAD"> Đà Nẵng (DAD)</option>
                        <option class="pickFlightStart" value="DLI"> Đà Lạt (DLI)</option>
                        <option class="pickFlightStart" value="DIN"> Điện Biên Phủ (DIN)</option>
                        <option class="pickFlightStart" value="HPH"> Hải Phòng (HPH)</option>
                        <option class="pickFlightStart" value="HAN"> Hà Nội (HAN)</option>
                        <option class="pickFlightStart" value="SGN"> Hồ Chí Minh (SGN)</option>
                        <option class="pickFlightStart" value="HUI"> Huế (HUI)</option>
                        <option class="pickFlightStart" value="CXR"> Nha Trang (CXR)</option>
                        <option class="pickFlightStart" value="PQC"> Phú Quốc (PQC)</option>
                        <option class="pickFlightStart" value="PXU"> Pleiku (PXU)</option>
                        <option class="pickFlightStart" value="UIH"> Qui Nhơn (UIH)</option>
                        <option class="pickFlightStart" value="VKG"> Rạch Giá (VKG)</option>
                        <option class="pickFlightStart" value="VII"> Vinh (VII)</option>
                        <option class="pickFlightStart" value="TBB"> Tuy Hòa (TBB)</option>
                        <option class="pickFlightStart" value="VCL"> Chu Lai (VCL)</option>
                        <option class="pickFlightStart" value="VDH"> Đồng Hới (VDH)</option>
                        <option class="pickFlightStart" value="VCS"> Côn Đảo (VCS)</option>
                        <option class="pickFlightStart" value="THD"> Thanh Hóa (THD)</option>
                        <option class="pickFlightStart" value="VCA"> Cần Thơ (VCA)</option>
                        <option class="pickFlightStart" value="CAH"> Cà Mau (CAH)</option>
                    </select>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="to">Điểm đến:</label>
                    <select name="arrival" id="to" data-placeholder="-- Vui lòng chọn địa điểm --" class="form-control chosen-select" required>
                        <option class="pickFlightStart"></option>
                        <option class="pickFlightStart" value="BMV"> Buôn Ma Thuột (BMV)</option>
                        <option class="pickFlightStart" value="DAD"> Đà Nẵng (DAD)</option>
                        <option class="pickFlightStart" value="DLI"> Đà Lạt (DLI)</option>
                        <option class="pickFlightStart" value="DIN"> Điện Biên Phủ (DIN)</option>
                        <option class="pickFlightStart" value="HPH"> Hải Phòng (HPH)</option>
                        <option class="pickFlightStart" value="HAN"> Hà Nội (HAN)</option>
                        <option class="pickFlightStart" value="SGN"> Hồ Chí Minh (SGN)</option>
                        <option class="pickFlightStart" value="HUI"> Huế (HUI)</option>
                        <option class="pickFlightStart" value="CXR"> Nha Trang (CXR)</option>
                        <option class="pickFlightStart" value="PQC"> Phú Quốc (PQC)</option>
                        <option class="pickFlightStart" value="PXU"> Pleiku (PXU)</option>
                        <option class="pickFlightStart" value="UIH"> Qui Nhơn (UIH)</option>
                        <option class="pickFlightStart" value="VKG"> Rạch Giá (VKG)</option>
                        <option class="pickFlightStart" value="VII"> Vinh (VII)</option>
                        <option class="pickFlightStart" value="TBB"> Tuy Hòa (TBB)</option>
                        <option class="pickFlightStart" value="VCL"> Chu Lai (VCL)</option>
                        <option class="pickFlightStart" value="VDH"> Đồng Hới (VDH)</option>
                        <option class="pickFlightStart" value="VCS"> Côn Đảo (VCS)</option>
                        <option class="pickFlightStart" value="THD"> Thanh Hóa (THD)</option>
                        <option class="pickFlightStart" value="VCA"> Cần Thơ (VCA)</option>
                        <option class="pickFlightStart" value="CAH"> Cà Mau (CAH)</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 hidden">
                    <label class="control-label" for="stops">Chặng dừng:</label>
                    <select class="form-control" id="stops" name="stops">
                        <option value="0">Bất kỳ</option>
                        <option value="1">Không trung chuyển</option>
                        <option value="2">Một điểm dừng</option>
                    </select>
                </div>
            </div>
            <div class="group-item col-xs-12 col-sm-4">
                <div class="title-col col-xs-12">
                    <span class="number">2</span>
                    <span class="title">Thời gian bay</span>
                </div>
                <div class="form-group col-xs-12">
                    <label class="control-label" for="outbound">Ngày đi:</label>
                    <input type="text" class="form-control datepicker" id="outbound" name="go_day" placeholder="Ngày đi">
                </div>
                <div class="form-group col-xs-12" id="way">
                    <label class="radio-inline"><input type="radio" name="way" value="1" checked>Một chiều</label>
                    <label class="radio-inline"><input type="radio" name="way" value="2">Khứ hồi</label>
                </div>
                <div class="form-group col-xs-12" id="inbound">
                    <label class="control-label" for="return">Ngày về:</label>
                    <input type="text" class="form-control datepicker" id="return" name="rt_day" placeholder="Ngày về">
                </div>
            </div>
            <div class="group-item col-xs-12 col-sm-4">
                <div class="title-col col-xs-12">
                    <span class="number">3</span>
                    <span class="title">Số hành khách</span>
                </div>
                <div class="form-group input-inline col-xs-4">
                    <label class="control-label" for="adult"><img src="{% static 'search/images/adult.jpg' %}" title="Adult"
                                                                  alt="icon"></label>
                    <select class="form-control" id="adult" name="adult">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                    </select>
                </div>
                <div class="form-group input-inline col-xs-4">
                    <label class="control-label" for="child"><img src="{% static 'search/images/child.jpg' %}" title="Child"
                                                                  alt="icon"></label>
                    <select class="form-control" id="child" name="child">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="form-group input-inline col-xs-4">
                    <label class="control-label" for="babe"><img src="{% static 'search/images/babe.jpg' %}" title="Babe" alt="icon"></label>
                    <select class="form-control" id="babe" name="babe">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 hidden">
                    <label class="control-label" for="type-ticket">Loại vé</label>
                    <select class="form-control" id="type-ticket" name="ttype">
                        <option value="all">Bất kì</option>
                        <option value="save">Giá rẻ</option>
                        <option value="economy">Phổ thông</option>
                        <option value="business">Thương gia</option>
                        <option value="first">Hạng nhất</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row center-block text-center">
            {% csrf_token %}
            <button type="submit" class="btn btn-success btn-search" id="search" name="search">Tìm chuyến bay</button>
        </div>
    </form>
    <div id="result">
        {% if return_msg %}
            <h2>{{ return_msg }}</h2>
        {% endif %}
        <!-- Outward -->
        {% if outward_list %}
            <div id="outward-list-result-header">
                Đi:
                <button id="outward-sort-btn">Sort</button>
            </div>
            <table class="table-result-layout">
            <tbody>
            {% for flight in outward_list %}
                <tr>
                    <td>
                        <table id="{{ flight.first_flight.flight_code}}_1" class="table-result">
                            <colgroup span="5">
                                <col width="11%">
                                <col width="11%">
                                <col width="13%">
                                <col width="41%">
                                <col width="16%">
                                <col width="8%">
                            </colgroup>
                            <tbody>

                            <tr class="a-result-flight">
                                <td class="result-time">
                                    {{ flight.departure_time.time|time:"g:iA"|lower }}
                                </td>
                                <td class="result-time">
                                    {{ flight.arrival_time.time|time:"g:iA"|lower }}
                                </td>
                                <td class="result-carrier">
                                    {{ flight.first_flight.carrier|carrier }}<br>
                                    {{ flight.first_flight.flight_code }}
                                </td>
                                <td class="result-transit">
                                    {% if not flight.transit %}
                                        Bay trực tiếp <br>
                                        {{ flight.first_flight.departure_name }}
                                        &rarr;
                                        {{ flight.first_flight.arrival_name }}
                                    {% else %}
                                        Có trung chuyển <br>
                                        {{ flight.first_flight.departure_name }}
                                        &rarr;
                                        {{ flight.first_flight.arrival_name }}
                                        &rarr;
                                        {{ flight.end_port }}
                                    {% endif %}
                                </td>
                                <td class="result-price">
                                    {{ flight.total_price }}
                                </td>
                                <td class="result-button">
                                    <button class="btn btn-success" id="{{ flight.first_flight.flight_code}}_1">Xem</button>
                                </td>
                            </tr>
                            <tr class="result-detail hidden" id="detail_{{ flight.first_flight.flight_code }}_1">
                                <td colspan="6">
                                    <p class="first-flight-header">Từ <span class="color-green">{{ flight.first_flight.departure_name }}</span>
                                        đi <span class="color-green">{{ flight.first_flight.arrival_name }}</span>
                                    </p>
                                    <table class="result-detail-first-content" width="100%">
                                        <colgroup span="3">
                                            <col width="13%">
                                            <col width="13%">
                                            <col width="74%">
                                        </colgroup>
                                        <tr>
                                            <td class="first-content-time">
                                                {{ flight.departure_time.time|time:"g:iA"|lower }}
                                                <br>&rarr;<br>
                                                {{ flight.arrival_time.time|time:"g:iA"|lower }}
                                            </td>
                                            <td class="first-content-carrier">
                                                {{ flight.first_flight.carrier|carrier }}<br>
                                                {{ flight.first_flight.flight_code }}
                                            </td>
                                            <td class="first-content-ticket">
                                                <ul style="margin-bottom: 0; padding-left: 0">
                                                    {% for ticket in flight.first_flight.seat_list %}
                                                        <li class="li-ticket-result-detail">
                                                            <div class="row">
                                                                <div class="col-lg-5 div-result-ticket-type">
                                                                    {{ ticket.ticket_type|ticket_type }}
                                                                </div>
                                                                <div class="col-lg-4">
                                                                    {{ ticket.total_price }}
                                                                    <a href="#">Detail</a>
                                                                </div>
                                                                <div class="col-lg-3 div-result-ticket-btn-choose">
                                                                    <button>Chọn</button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>

                                        </tr>
                                    </table>

                                    {% if flight.second_flight %}
                                        {% for sflight in flight.second_flight %}
                                            <p>
                                                {{ sflight.carrier|carrier }}-
                                                {{ sflight.flight_code }} :
                                                {{ sflight.departure_time.time|time:"g:iA"|lower }}
                                                &rarr;
                                                {{ sflight.arrival_time.time|time:"g:iA"|lower }}
                                            </p>
                                            <ul>
                                                {% for ticket in sflight.seat_list %}
                                                    <li>{{ ticket.ticket_type|ticket_type }} : {{ ticket.total_price }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endif %}
        <!-- Return -->
        {% if return_list %}
            <p class="resultList-title">Chiều về</p>
            <table class="table-result-layout">
            <tbody>
            {% for flight in return_list %}
                <tr>
                    <td>
                        <table id="{{ flight.first_flight.flight_code}}_1" class="table-result">
                            <colgroup span="5">
                                <col width="20%">
                                <col width="13%">
                                <col width="41%">
                                <col width="16%">
                                <col width="10%">
                            </colgroup>
                            <tbody>
                            <tr class="a-result-flight">
                                <td class="result-time">
                                    {{ flight.departure_time.time|time:"g:iA"|lower }}
                                    &rarr;
                                    {{ flight.arrival_time.time|time:"g:iA"|lower }}
                                </td>
                                <td class="result-carrier">
                                    {{ flight.first_flight.carrier|carrier }}<br>
                                    {{ flight.first_flight.flight_code }}
                                </td>
                                <td class="result-transit">
                                    {% if not flight.transit %}
                                        Bay trực tiếp <br>
                                        {{ flight.first_flight.departure_name }}
                                        &rarr;
                                        {{ flight.first_flight.arrival_name }}
                                    {% else %}
                                        Có trung chuyển <br>
                                        {{ flight.first_flight.departure_name }}
                                        &rarr;
                                        {{ flight.first_flight.arrival_name }}
                                        &rarr;
                                        {{ flight.end_port }}
                                    {% endif %}
                                </td>
                                <td class="result-price">
                                    {{ flight.total_price }}
                                </td>
                                <td class="result-button">
                                    <button class="btn btn-success" id="{{ flight.first_flight.flight_code}}_1">Xem</button>
                                </td>
                            </tr>
                            <tr class="result-detail hidden" id="detail_{{ flight.first_flight.flight_code }}_1">
                                <td colspan="5">
                                    <p class="first-flight-header">Từ <span class="color-green">{{ flight.first_flight.departure_name }}</span>
                                        đi <span class="color-green">{{ flight.first_flight.arrival_name }}</span>
                                    </p>
                                    <table class="result-detail-first-content" width="100%">
                                        <colgroup span="3">
                                            <col width="13%">
                                            <col width="13%">
                                            <col width="74%">
                                        </colgroup>
                                        <tr>
                                            <td class="first-content-time">
                                                {{ flight.departure_time.time|time:"g:iA"|lower }}
                                                <br>&rarr;<br>
                                                {{ flight.arrival_time.time|time:"g:iA"|lower }}
                                            </td>
                                            <td class="first-content-carrier">
                                                {{ flight.first_flight.carrier|carrier }}<br>
                                                {{ flight.first_flight.flight_code }}
                                            </td>
                                            <td class="first-content-ticket">
                                                <ul>
                                                    {% for ticket in flight.first_flight.seat_list %}
                                                        <li>
                                                            <div class="row">
                                                                <div class="col-*-5">
                                                                    {{ ticket.ticket_type|ticket_type }}
                                                                </div>
                                                                <div class="col-*-4">
                                                                    {{ ticket.total_price }}
                                                                    <a href="#">Detail</a>
                                                                </div>
                                                                <div class="col-*-3">
                                                                    <button>Chọn</button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </td>

                                        </tr>
                                    </table>

                                    {% if flight.second_flight %}
                                        {% for sflight in flight.second_flight %}
                                            <p>
                                                {{ sflight.carrier|carrier }}-
                                                {{ sflight.flight_code }} :
                                                {{ sflight.departure_time.time|time:"g:iA"|lower }}
                                                &rarr;
                                                {{ sflight.arrival_time.time|time:"g:iA"|lower }}
                                            </p>
                                            <ul>
                                                {% for ticket in sflight.seat_list %}
                                                    <li>{{ ticket.ticket_type|ticket_type }} : {{ ticket.total_price }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endif %}
    </div>
</div>
<footer class="container-fluid text-center footer-my-style">
    <p>Get Hi Travel pleasure for serve you. Have a good day and a nice travel</p>
</footer>
<script src="{% static 'search/js/picker.js' %}"></script>
<script src="{% static 'search/js/picker.date.js' %}"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<script src="{% static 'search/js/chosen.jquery.min.js' %}"></script>
<script src="{% static 'search/js/main.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        {% comment %}var outwardLst = jQuery.parseJSON('{{ outward_list|jsonify }}');{% endcomment %}
        {% comment %}var returnLst = "{{ return_list|safe }}";
        var myJSONList = (("{{outward_list}}").replace(/&(l|g|quo)t;/g, function (a, b) {
            return {
                l: '<',
                g: '>',
                quo: '"'
            }[b];
        }));{% endcomment %}

        //var myData = JSON.parse(myJSONList);
        {% comment %}$('#outward-sort-btn').click(function () {
            alert(outwardLst.length);
        }){% endcomment %}
        {% comment %}
            Show form value comfirm with search value
        {% endcomment %}
        {% if sform %}
            $('#from').val('{{ sform.departure }}');
            $('#from').trigger("chosen:updated");
            $('#to').val('{{ sform.arrival }}');
            $('#to').trigger("chosen:updated");
            {% if sform.way == 2 %}
                $("#way input[value='2']").prop('checked', true);
                $('#inbound').css('visibility', 'visible');
            {% endif %}
            $('#stops').val('{{ sform.stop }}');
            var go_d = new Date('{{ sform.go_day }}');
            makeday(go_d, '#outbound');
            var rt_d = new Date('{{ sform.rt_day }}');
            makeday(rt_d, '#return');
            $('#type-ticket').val('{{ sform.ttype }}');
            $('#adult').val('{{ quan.adult }}');
            $('#child').val('{{ quan.child }}');
            $('#babe').val('{{ quan.babe }}');
        {% else %}
            test();
            rt_day();
        {% endif %}
    });
</script>
</body>
</html>